<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="debugartist.menu">

  <uses-permission android:name="android.permission.READ_LOGS" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application>

    <activity android:name="com.github.pedrovgs.lynx.LynxActivity" />

  </application>

</manifest>
