<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.barista_v.debug_artist">

  <uses-permission android:name="android.permission.READ_LOGS" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application>

    <activity android:name="com.github.pedrovgs.lynx.LynxActivity" />

    <activity
      android:name=".report_bug.ReportBugActivity"
      android:label="@string/report_bug"
      android:theme="@style/ApiTheme" />

  </application>

</manifest>
