VERSION_NAME=
VERSION_CODE=
GROUP=

POM_ARTIFACT=
POM_DESCRIPTION=
POM_URL=

POM_SCM_URL=
POM_SCM_CONNECTION=
POM_SCM_DEV_CONNECTION=

POM_LICENCE_NAME=
POM_LICENCE_URL=
POM_LICENCE_DIST=
POM_DEVELOPER_ID=
POM_DEVELOPER_NAME=
POM_DEVELOPER_EMAIL=

BINTRAY_USER=
BINTRAY_USER_ORG=
BINTRAY_API_KEY=
BINTRAY_GPG_PASSPHRASE=
BINTRAY_PASSWORD=